name: Run Playwright Tests Daily

on:
  schedule:
    - cron: '0 0 * * *'  
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest  

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '24.11.1'

    - name: Install dependencies
      run: npm install


    - name: Install Playwright
      run: npm install playwright

    - name: Run Playwright tests
      run: npx playwright test    


    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v2
      with:
      name: playwright-test-results
      path: ./test-results  